
<div class="container w-75 mt-4">
  <div style ="text-align: center">
    <div style = "text-align: center">
        <h2 class="text-center text-primary">EventLite </h2>
        <p class="text-secondary">A liter version of EventBrite, why would you want a flashy website like EventBrite when you can have this ?</p>
  </div>
    </div>
  <div class ="boxes">
          <% if user_signed_in? %>

          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Members</h5>
              <p class="card-text">There is currently <span class= "text-danger"><%= User.all.count %> members</span> on EventLite</p>
            </div>
          </div>

          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Event Created</h5>
              <p class="card-text">There is currently <span class= "text-danger"><%= Event.all.count %> events</span> on EventLite</p>
              <%= link_to "New event", new_event_path, :class => "btn btn-primary"%>
            </div>
          </div>

          <% else %>

          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Members</h5>
              <p class="card-text">There is currently <span class= "text-danger"><%= User.all.count %> members</span> on EventLite</p>
              <%= link_to "Join Us", new_user_registration_path, :class => "btn btn-primary"%>
            </div>
          </div>

          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Event Created</h5>
              <p class="card-text">There is currently <span class= "text-danger"><%= Event.all.count %> events</span> on EventLite</p>
            </div>
          </div>

          <%end%>
  </div>
</div>



<%= render 'event_list' %>

