  <div class="alert alert-danger" role="alert">

    <% if @event.errors.any? %>
      <p>Event could not be created for the following reasons :</p>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

  </div>



<body>



  <div class="card w-75">
  	<div class = "card-header">
  		<h1 style="text-align: center">New Event</h1>
  	</div>
    <div class="card-body">
       <%= form_for @event, url: {action: 'create'}, method: 'post', multipart: true do |event| %>
        <%= label_tag 'Picture' %>
        <%= event.file_field :image %>
        </br>
        <%= label_tag 'Title' %>
        <%= event.text_field :title, :class => "form-control", placeholder: "Title of the event" %>
        <br />

        <%= label_tag 'Description' %>
        <%= event.text_field :description, :class => "form-control", placeholder: "Description" %>
        <br />

        <%= label_tag 'Location' %>
        <%= event.text_field :location, :class => "form-control", placeholder: "Location" %>
        <br />

        <%= label_tag 'Start date' %>
        <%= event.text_field :start_date, :class => "form-control", placeholder: "Start date (dd/mm/yyyy)" %>
        <br />

        <%= label_tag 'Duration' %>
        <%= event.text_field :duration, :class => "form-control", placeholder:"Duration (Only multiples of 5)" %>
        <br />

        <%= label_tag 'Price' %>
        <%= event.text_field :price, :class => "form-control", placeholder: "price (maximum: 1000$)" %>
        <br /> <br />



        <%= submit_tag "Create event", :class => "btn btn-dark" %>

      <% end %>
    </div>
  </div>

</body>
