<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


<div class="card text-center" style="width: 18rem;">
    <h2 class="card-header"><u>Titre</u> : <%= @event.title %></h2>
  <div class="card-body">
    <p class="card-text"><u>Number of guests</u> : <%= @event.users.count %></p>
    <p class="card-text"><u>email</u> : <%= User.find(@event.admin_id).email %></p>
    <p class="card-text"><u>Start</u> : <%= @event.start_date %></p>
    <p class="card-text"><u>End</u> : <%= @event.location %></p>
    <p class="card-text"><u>Location</u> : <%= @event.location %></p>
    <p class="card-text"><u>Price</u> : <%= @event.price %></p>
    <p class="card-text"><%= @event.description %></p>
  </div>
</div>
